.about_page{
    header{
        p{
            width: 30%;
        }
    }
    p{
        font-size: 24px;
    }
}

@media only screen  and (max-device-width : 1024px) {
    header{
        display: none;
    }
    .about_page p, .personal-projects_page p{
        margin-top: 10%;
    }
}
