@font-face {
    font-family: 'nexa-bold';
    src: url(../fonts/Nexa_Bold.otf);
}
@font-face {
    font-family: 'nexa-light';
    src: url(../fonts/Nexa_Light.otf);
}

$pink: #DB0A5B;
$grey: #7A797A;
