// Main fonts and colors
@font-face {
    font-family: 'nexa-bold';
    src: url(../fonts/Nexa_Bold.otf);
}
@font-face {
    font-family: 'nexa-light';
    src: url(../fonts/Nexa_Light.otf);
}

$title-color: #DB0A5B;
$primary-color: #7A797A;
$link-color : #390318;

// Charlotte Domingos fonts
@font-face {
    font-family: 'walbaum';
    src: url(../fonts/WalbaumMTStd-Regular.otf);
}
@font-face {
    font-family: 'montserrat';
    src: url(../fonts/Montserrat-Regular.otf);
}
