@font-face {
    font-family: 'nexa-bold';
    src: url(../fonts/Nexa_Bold.otf);
}
@font-face {
    font-family: 'nexa-light';
    src: url(../fonts/Nexa_Light.otf);
}

$pink: #DB0A5B;
$grey: #7A797A;
$black : #390318;

//font styles
.title{
    font-family: 'nexa-bold';
    font-size: 48px;
    letter-spacing: 6px;
}

.adress-mail{
    color: $black;
}
