header{
    padding: 2.8rem 0;
    nav{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        a.logo{
            color: $title-color;
            font-size: 3.2rem;
            text-decoration: none;
            letter-spacing: 0.2rem;
            font-family: 'nexa-bold';
            margin-right: auto;
        }
        ul{
            display: inline-block;

            li{
                display: inline-block;
                padding-left: 5rem;
                font-family: 'nexa-bold';
                font-size: 2.4rem;
            }
        }
    }
}

// 4K responsive
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 120.063em),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 120.063em),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 120.063em),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 120.063em),
only screen and (                min-resolution: 192dpi) and (min-width: 120.063em),
only screen and (                min-resolution: 2dppx)  and (min-width: 120.063em) {

  header{
      padding: 1.6em 0;
      nav{
          a.logo{
              font-size: 1.5em;
          }
          ul{
              li{
                  font-size: 1em;
              }
          }
      }
    }
}

// Medium screen min-width 641px and max-width 1024px
// such as Tablets
@media only screen and (min-width:40.063em) and (max-width:64em){
    header{
        nav{
            ul{
                li{
                    font-size: 0.8em;
                }
            }
        }
    }
}

// Small screen max-width 481px
// such as large mobile
@media (max-width:30.063em){
    header{
        nav{
            ul{
                li{
                    font-size: 0.8em;
                    display: none;
                }
                li.hello{
                    display: block;
                }
            }
        }
    }
}
