.project{
    .project-content{
        margin: 8rem 0 4rem 0;

        .project-link{
            margin: 0.5rem 0;
            line-height: inherit;
            a{
                font-size: 1.8rem;
            }
        }

    }
    .project-mockup{
        text-align: center;

        img{
            width: 50%;
        }
    }
}

// Visual identity section
.visual-identity{
    .visual-identity_typograph, .visual-identity_colors{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 3rem 0;
    }
    .visual-identity_colors{
        height: 150px;
    }
    // Typograph section
    .typograph-content{
        width: 45%;
    }
    .typograph-titlefont, .typograph-textfont{
        width: 20%;
        line-height: normal;
        p{
            margin: inherit;
        }
    }
    .typograph-titlefont{
        font-family: 'walbaum';
    }
    .typograph-textfont{
        font-family: 'montserrat';
    }

    // Colors section
    .colors-content{
        width: 65%;
    }
    .colors-palette{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 25%;
        align-items: center;
        height: 100%;

        .colors-bg{
            width: 40%;
            height: 60%;
            background: #1A1A1A;
            will-change: transform;

            &:hover{
                transform: scaleX(1.3);
            }
        }
        .colors-title{
            width: 40%;
            height: 60%;
            background: #940516;

            &:hover{
                transform: scaleX(1.3);
            }
        }
    }
}

// Views section
.project-views{
    .project-views-img{
        img{
            width: 100%;
            margin: 2rem 0;
        }
    }
}

// Other projects
.project-projects{
    margin: 5rem 0;
    height: 40rem;

    .projects-thumbnails{
        background-image: url(../img/elodie-cottin-homepage.png);
    }
}
