.project{
    .project-content{
        margin: 8rem 0 4rem 0;

        // Small screen max-width 481px
        // such as large mobile
        @media (max-width:30.063em){
            margin: inherit;
        }

        .project-link{
            margin: 0.5rem 0;
            line-height: inherit;
            a{
                font-size: 1.8rem;

                // 4K responsive
                @media
                only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 120.063em),
                only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 120.063em),
                only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 120.063em),
                only screen and (        min-device-pixel-ratio: 2)      and (min-width: 120.063em),
                only screen and (                min-resolution: 192dpi) and (min-width: 120.063em),
                only screen and (                min-resolution: 2dppx)  and (min-width: 120.063em) {
                font-size: 1em;
                }
            }
        }

    }
    .project-mockup{
        text-align: center;

        img{
            width: 50%;

            // Small screen max-width 481px
            // such as large mobile
            @media (max-width:30.063em){
                width: 100%;
            }
        }
    }
}

// Visual identity section
.visual-identity{
    .visual-identity_typograph, .visual-identity_colors{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 3rem 0;

        // Small screen max-width 481px
        // such as large mobile
        @media (max-width:30.063em){
            flex-direction: column;
        }
    }
    .visual-identity_colors{
        height: 150px;

        // 4K responsive
        @media
        only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 120.063em),
        only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 120.063em),
        only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 120.063em),
        only screen and (        min-device-pixel-ratio: 2)      and (min-width: 120.063em),
        only screen and (                min-resolution: 192dpi) and (min-width: 120.063em),
        only screen and (                min-resolution: 2dppx)  and (min-width: 120.063em) {
        height: 360px;
        }

        // Small screen max-width 481px
        // such as large mobile
        @media (max-width:30.063em){
            height: 300px;
        }
    }
    // Typograph section
    .typograph-content{
        width: 45%;

        // Small screen max-width 481px
        // such as large mobile
        @media (max-width:30.063em){
            width: 100%;
        }
    }
    .typograph-titlefont, .typograph-textfont, .typograph-subtitlefont, .typograph-legendfont{
        width: 20%;

        // Small screen max-width 481px
        // such as large mobile
        @media (max-width:30.063em){
            width: 100%;
        }

        line-height: normal;
        p{
            margin: inherit;
        }
    }

    // Colors section
    .colors-content{
        width: 45%;

        // Small screen max-width 481px
        // such as large mobile
        @media (max-width:30.063em){
            width: 100%;
        }
    }
    .colors-palette{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 45%;
        align-items: center;
        height: 100%;

        // Small screen max-width 481px
        // such as large mobile
        @media (max-width:30.063em){
            width: 100%;
        }

        .colors-bg{
            width: 30%;
            height: 60%;
            will-change: transform;

            &:hover{
                transform: scaleX(1.3);
            }

            // Small screen max-width 481px
            // such as large mobile
            @media (max-width:30.063em){
                height: 100%;
            }
        }
        .colors-title{
            width: 30%;
            height: 60%;

            &:hover{
                transform: scaleX(1.3);
            }

            // Small screen max-width 481px
            // such as large mobile
            @media (max-width:30.063em){
                height: 100%;
            }
        }
        .colors-text{
            width: 30%;
            height: 60%;

            &:hover{
                transform: scaleX(1.3);
            }

            // Small screen max-width 481px
            // such as large mobile
            @media (max-width:30.063em){
                height: 100%;
            }
        }
    }
}

// Edit fonts and colors of the visual identity
.visual-identity.charlotte-domingos{
    .typograph-titlefont{
        font-family: 'walbaum';
    }
    .typograph-textfont{
        font-family: 'montserrat';
    }

    .colors-palette{
        .colors-bg{
            background: #1A1A1A;
        }
        .colors-title{
            background: #940516;
        }
        .colors-text{
            background: #F1F1F1;
        }
    }
}
.visual-identity.discover-mars{
    .visual-identity_typograph{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .typograph-content{
        width: 100%;
    }
    .typograph-fonts{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
    }
    .typograph-titlefont{
        font-family: 'baskerville';
    }
    .typograph-subtitlefont{
        font-family: 'roboto';
        font-weight: semi_bold;
    }
    .typograph-textfont{
        font-family: 'roboto';
        font-weight: light;
    }
    .typograph-legendfont{
        font-family: 'roboto';
        font-weight: light;
        font-style: italic;
    }

    .colors-palette{
        .colors-bg{
            background: #020416;
        }
        .colors-title{
            background: #F19611;
        }
        .colors-text{
            background: #343434;
        }
    }
}

// Views section
.project-views{
    .project-views-img{
        img{
            width: 100%;
            margin: 2rem 0;
        }
    }
}

// Other projects
.project-projects{
    margin: 5rem 0;
    height: 40rem;

    // 4K responsive
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 120.063em),
    only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 120.063em),
    only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 120.063em),
    only screen and (        min-device-pixel-ratio: 2)      and (min-width: 120.063em),
    only screen and (                min-resolution: 192dpi) and (min-width: 120.063em),
    only screen and (                min-resolution: 2dppx)  and (min-width: 120.063em) {
    height: 14em;
    }

    // Medium screen min-width 641px and max-width 1024px
    // such as Tablets
    @media only screen and (min-width:40.063em) and (max-width:64em){
        margin: 1em 0;
        height: 11em;
    }

    // Small screen max-width 481px
    // such as large mobile
    @media (max-width:30.063em){
        margin: 1em 0;
        height: 8em;
    }

    .projects-wrapper{
        // Small screen max-width 481px
        // such as large mobile
        @media (max-width:30.063em){
            height: inherit;
        }
    }

    .projects-thumbnails{

        // 4K responsive
        @media
        only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 120.063em),
        only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 120.063em),
        only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 120.063em),
        only screen and (        min-device-pixel-ratio: 2)      and (min-width: 120.063em),
        only screen and (                min-resolution: 192dpi) and (min-width: 120.063em),
        only screen and (                min-resolution: 2dppx)  and (min-width: 120.063em) {
        width: 48%;
        height: 70%;
        }

        // Medium screen min-width 641px and max-width 1024px
        // such as Tablets
        @media only screen and (min-width:40.063em) and (max-width:64em){
            width: 51%;
            height: 56%;
        }

        // Small screen max-width 481px
        // such as large mobile
        @media (max-width:30.063em){
            display: none;
        }
    }
    .project-charlotte{
        background-image: url(../img/elodie-cottin-homepage.png);
    }
}
