@import '_fonts.scss';
body{
    font-family: 'nexa-light';
    color: $grey;
}
a{
    text-decoration: underline;
    color: $black;
}

//Animation filling links with $pink
.link-decoration{
    outline: none;
    text-decoration: underline;
	position: relative;
	display: inline-block;

    &:before {
	content: attr(data-letters);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	color: $pink;
	white-space: nowrap;
	width: 0%;
	transition: width 0.4s 0.3s;
    }

    &:after{
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        z-index: 7;
        background: $pink;
        bottom: 2px;
        left: 0;
        transition: width 0.4s 0.3s;
    }

    &:hover{
        &:before{
            width: 100%;
        }
        &:after{
            width: 100%;
        }
    }

}

/******************

HOMEPAGE

*******************/

.wrapper{
    font-size: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.left-side, .right-side{
    display: flex;
    align-items: center;
    flex: 1 50%;
    height: 100vh;
    font-size: 24px;
}
.homepage-menu{
    display: none;
}

@media only screen  and (max-device-width : 667px) and (orientation : portrait){
    .left-side, .right-side{
        font-size: 18px;
    }
    nav.homepage-menu{
        display: flex;
        width: 100%;
        position: absolute;
        top: 5%;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        margin-top: 5%;
        padding: 0 10%;

        p{
            margin: 0;
        }

    }
    .about{
        display: none;
    }
}

/****** LEFT SIDE ******/
.left-side{
    background: #fefefe;

    h1{
        color : $grey;
        text-align: center;
        outline: none;
    	text-decoration: none;
    	position: relative;
    	display: inline-block;
        margin-bottom: 5%;

        &:before{
            content: attr(data-letters);
        	position: absolute;
        	z-index: 2;
        	overflow: hidden;
        	color: $pink;
        	white-space: nowrap;
        	width: 100%;
        	transition: width 1.2s 1s;
        }
    }
    @media only screen  and (max-device-width : 1024px) {
        h1{
            color: $pink;
        }
        h1::before{
            display: none;
        }
    }

    p, span{
        line-height: 36px;
        margin: 5% 0;
    }
    ul{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        li{
            display: inline-block;
        }
    }
}

@media only screen  and (max-device-width : 667px) and (orientation : portrait){
    .left-side, .right-side{
        flex: 1 100%;
    }
    .left-side{
        order : 1;

        h1{
            color: $pink;
        }

        p, span{
            line-height: 30px;
            margin: 5% 0;
        }
    }
    .right-side{
        order : 2;
    }
}

//Right side
.right-side{
    background: #fafafa;
    -webkit-box-shadow: -10px 0px 5px -5px rgba(224,221,224,1);
    -moz-box-shadow: -10px 0px 5px -5px rgba(224,221,224,1);
    box-shadow: -10px 0px 5px -5px rgba(224,221,224,1);
    position: relative;

    h2{
        color: $black;
    }
    .category{
        margin-bottom: 10%;

        &:last-child{
            margin-bottom: 0;
        }
    }
    ul{
        li{
            p, a{
                display: inline-block;
            }
            p{
                line-height: 36px;
            }
        }
    }
}
