@import '_fonts.scss';
@import '_header.scss';
@import '_about.scss';
html{
    font-size: 62.5%;
}
body{
    font-family: 'nexa-light';
    color: $primary-color;
    font-size: 2.4rem;

    // Small screen max-width 481px
    // such as large mobile
    @media (max-width:30.063em){
        font-size: 1.8em;
    }
}
a{
    text-decoration: none;
    color: $link-color;
}
.container{
    display: none;
    width: 90%;
    margin: 0 auto;

    // 4K responsive
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 120.063em),
    only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 120.063em),
    only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 120.063em),
    only screen and (        min-device-pixel-ratio: 2)      and (min-width: 120.063em),
    only screen and (                min-resolution: 192dpi) and (min-width: 120.063em),
    only screen and (                min-resolution: 2dppx)  and (min-width: 120.063em) {
    font-size: 2em;
    }
}
.inner-container{
    width: 70%;
    margin: 0 auto;
    height: 100%;

    // tablet, landscape iPad, lo-res laptops ands desktops
    @media (min-width:40.063em) {
        width: 80%;
    }
}


//Animation filling links with $title-color
.link-decoration{
    outline: none;
	position: relative;
	display: inline-block;

    &:before {
	content: attr(data-letters);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	color: $title-color;
	white-space: nowrap;
	width: 0%;
    will-change: width;
	transition: width 0.4s 0.3s;
    }

    &:after{
        content: "";
        position: absolute;
        width: 0%;
        height: 0.2rem;
        z-index: 7;
        background: $title-color;
        bottom: 0px;
        left: 0;
        will-change: width;
        transition: width 0.4s 0.3s;
    }

    &:hover{
        &:before{
            width: 100%;
        }
        &:after{
            width: 100%;
        }
    }
}

.homepage-subtitle{
    font-size: 1.2rem;
    color: $title-color;
    letter-spacing: 0.2rem;
    margin: 2rem 0;
    position: relative;
    display: inline-block;
    font-family: 'nexa-bold';

    &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 0.2rem;
        z-index: 7;
        background: $title-color;
        bottom: -0.3rem;
        left: 0;
    }

    // 4K responsive
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 120.063em),
    only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 120.063em),
    only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 120.063em),
    only screen and (        min-device-pixel-ratio: 2)      and (min-width: 120.063em),
    only screen and (                min-resolution: 192dpi) and (min-width: 120.063em),
    only screen and (                min-resolution: 2dppx)  and (min-width: 120.063em) {
        font-size: 0.4em;
    }

    // Small screen max-width 375px
    // such as small mobile like iphone 6 or samsung galaxy S5
    @media (max-width:23.438em){
        font-size: 0.6em;
        margin: 0.6em 0;
    }

}

/******************

PROJECTS SECTION

*******************/
#homepage-projects{
    margin: 5rem 0;
    height: 40rem;

    // 4K responsive
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 120.063em),
    only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 120.063em),
    only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 120.063em),
    only screen and (        min-device-pixel-ratio: 2)      and (min-width: 120.063em),
    only screen and (                min-resolution: 192dpi) and (min-width: 120.063em),
    only screen and (                min-resolution: 2dppx)  and (min-width: 120.063em) {
        margin: 2em 0;
        height: 15em;
    }

    // Medium screen min-width 641px and max-width 1024px
    // such as Tablets
    @media only screen and (min-width:40.063em) and (max-width:64em){
        margin: 1em 0;
        height: 15em;
    }

    // Small screen max-width 481px
    // such as large mobile
    @media (max-width:30.063em){
        margin: 1em 0;
        height: 12em;
    }
}
#homepage-illustrations{
    margin: 5rem 0;
    height: 60rem;

    // 4K responsive
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 120.063em),
    only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 120.063em),
    only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 120.063em),
    only screen and (        min-device-pixel-ratio: 2)      and (min-width: 120.063em),
    only screen and (                min-resolution: 192dpi) and (min-width: 120.063em),
    only screen and (                min-resolution: 2dppx)  and (min-width: 120.063em) {
        margin: 2em 0;
        height: 18em;
    }

    // Medium screen min-width 641px and max-width 1024px
    // such as Tablets
    @media only screen and (min-width:40.063em) and (max-width:64em){
        margin: 1em 0;
        height: 22em;
    }

    // Small screen max-width 481px
    // such as large mobile
    @media (max-width:30.063em){
        margin: 1em 0;
        height: 8em;
    }
}
#homepage-lab{
    margin: 5rem 0;
    height: 22rem;

    // 4K responsive
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 120.063em),
    only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 120.063em),
    only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 120.063em),
    only screen and (        min-device-pixel-ratio: 2)      and (min-width: 120.063em),
    only screen and (                min-resolution: 192dpi) and (min-width: 120.063em),
    only screen and (                min-resolution: 2dppx)  and (min-width: 120.063em) {
        margin: 2em 0;
        height: 7em;
    }

    // Small screen max-width 481px
    // such as large mobile
    @media (max-width:30.063em){
        margin: 1em 0;
        height: 12em;
    }
}

// Projects section
.projects-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    margin-top: 2rem;
}
.projects-list{
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    ul{
        li{
            padding-bottom: 5rem;

            // 4K responsive
            @media
            only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 120.063em),
            only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 120.063em),
            only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 120.063em),
            only screen and (        min-device-pixel-ratio: 2)      and (min-width: 120.063em),
            only screen and (                min-resolution: 192dpi) and (min-width: 120.063em),
            only screen and (                min-resolution: 2dppx)  and (min-width: 120.063em) {
                padding-bottom: 1.5em;
            }

            // Medium screen min-width 641px and max-width 1024px
            // such as Tablets
            @media only screen and (min-width:40.063em) and (max-width:64em){
                padding-bottom: 1em;
            }

            // Small screen max-width 481px
            // such as large mobile
            @media (max-width:30.063em){
                padding-bottom: 0.7em;
            }
        }
    }
}

// Illustrations section
.illustrations-wrapper{
    display: flex;
    flex-direction: column;
    height: 50rem;
    justify-content: space-around;

    // 4K responsive
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 120.063em),
    only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 120.063em),
    only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 120.063em),
    only screen and (        min-device-pixel-ratio: 2)      and (min-width: 120.063em),
    only screen and (                min-resolution: 192dpi) and (min-width: 120.063em),
    only screen and (                min-resolution: 2dppx)  and (min-width: 120.063em) {
        height: 16em;
    }
    // Medium screen min-width 641px and max-width 1024px
    // such as Tablets
    @media only screen and (min-width:40.063em) and (max-width:64em){
        height: 20em;
    }

    // Small screen max-width 481px
    // such as large mobile
    @media (max-width:30.063em){
        height: 6em;
        display: block;
        margin: 1em 0;
    }

    .illustrations-thumbnails{
        width: 100%;
        height: 40rem;
        background-image: url(../img/chinese-mandala.png);

        // 4K responsive
        @media
        only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 120.063em),
        only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 120.063em),
        only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 120.063em),
        only screen and (        min-device-pixel-ratio: 2)      and (min-width: 120.063em),
        only screen and (                min-resolution: 192dpi) and (min-width: 120.063em),
        only screen and (                min-resolution: 2dppx)  and (min-width: 120.063em) {
            height: 13em;
        }

        // Medium screen min-width 641px and max-width 1024px
        // such as Tablets
        @media only screen and (min-width:40.063em) and (max-width:64em){
            height: 16em;
        }
    }
}
.illustrations-list{
    align-self: stretch;
    ul{
        li{
            display: inline-block;
            padding-right: 5rem;

            // Small screen max-width 481px
            // such as large mobile
            @media (max-width:30.063em){
                padding-right: 0em;
                padding-bottom: 1em;
            }
        }
    }
}

// Projects, illustrations and lab Thumbnails
.projects-thumbnails, .illustrations-thumbnails{
    background-image: url(../img/charlotte-domingos.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 57%;
    height: 70%;
    transition: background 0.5s cubic-bezier(0.55, 0.09, 0.68, 0.53);
    box-shadow: 1px 3px 20px -2px rgb(34, 32, 34);

    // Medium screen min-width 641px and max-width 1024px
    // such as Tablets
    @media only screen and (min-width:40.063em) and (max-width:63.938em){
        width: 54%;
        height: 44%;
    }

    // Small screen max-width 481px
    // such as large mobile
    @media (max-width:30.063em){
        display: none;
    }
}

// Lab section
#homepage-lab{
    .lab-content{
        div{
            margin: 3rem 0;

            a{
                color: $link-color;
            }
            p{
                font-size: 1.8rem;
                margin: 1.5rem 0;

                // 4K responsive
                @media
                only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 120.063em),
                only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 120.063em),
                only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 120.063em),
                only screen and (        min-device-pixel-ratio: 2)      and (min-width: 120.063em),
                only screen and (                min-resolution: 192dpi) and (min-width: 120.063em),
                only screen and (                min-resolution: 2dppx)  and (min-width: 120.063em) {
                    font-size: 0.5em;
                }

                // Small screen max-width 481px
                // such as large mobile
                @media (max-width:30.063em){
                    font-size: 0.8em;
                    margin: 0.5em 0;
                }
            }
        }
    }
}

// Footer
footer{
    margin: 5rem 0;
    font-size: 1.8rem;
    text-align: center;

    p{
        margin: 1.5rem 0;
    }

    span{
        letter-spacing: 0.2rem;
    }

    ul{
        li{
            display: inline-block;
        }
    }
    .seeU{
        font-family: 'nexa-bold';
    }
    .credits{
        font-size: 1rem;
        font-family: 'nexa-light';
    }

    // 4K responsive
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 120.063em),
    only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 120.063em),
    only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 120.063em),
    only screen and (        min-device-pixel-ratio: 2)      and (min-width: 120.063em),
    only screen and (                min-resolution: 192dpi) and (min-width: 120.063em),
    only screen and (                min-resolution: 2dppx)  and (min-width: 120.063em) {
        font-size: 0.5em;
    }

    // Small screen max-width 481px
    // such as large mobile
    @media (max-width:30.063em){
        font-size: 0.8em;
    }
}


.loader{
    position: absolute;
    top: 50%;
    left: 50%;
}
.loader-content{
    outline: none;
	position: relative;
	display: inline-block;
    opacity: 0;
    will-change: opacity;
    animation: fade_out 2.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;

    &:before {
	content: attr(data-letters);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	color: $title-color;
	white-space: nowrap;
	width: 0%;
    will-change: width;
	animation: fill_in 2.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    }

    &:after{
        content: "";
        position: absolute;
        width: 0%;
        height: 0.2rem;
        z-index: 7;
        background: $title-color;
        bottom: 0px;
        left: 0;
        will-change: width;
        animation: fill_in 2.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    }
}
@keyframes fill_in {
    from { width: 0px;}
    to { width: 100%;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes fill_in {
    from { width: 0px;}
    to { width: 100%;}
}
@keyframes fade_out {
    0% { opacity: 0;}
    80% { opacity: 1;}
    100% { opacity: 0.7;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes fade_out {
    0% { opacity: 0;}
    90% { opacity: 1;}
    100% { opacity: 0.9;}
}
