@import '_fonts.scss';
@import '_header.scss';
@import '_about.scss';
@import '_personal-projects.scss';
body{
    font-family: 'nexa-light';
    color: $primary-color;
    font-size: 24px;
}
a{
    text-decoration: none;
    color: $link-color;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.inner-container{
    width: 70%;
    margin: 0 auto;
    height: 100%;
}


//Animation filling links with $title-color
.link-decoration{
    outline: none;
	position: relative;
	display: inline-block;

    &:before {
	content: attr(data-letters);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	color: $title-color;
	white-space: nowrap;
	width: 0%;
    will-change: width;
	transition: width 0.4s 0.3s;
    }

    &:after{
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        z-index: 7;
        background: $title-color;
        bottom: 0px;
        left: 0;
        will-change: width;
        transition: width 0.4s 0.3s;
    }

    &:hover{
        &:before{
            width: 100%;
        }
        &:after{
            width: 100%;
        }
    }

}

.homepage-subtitle{
    font-size: 12px;
    color: $title-color;
    letter-spacing: 2px;
    margin: 2em 0;
    position: relative;
    display: inline-block;
    font-family: 'nexa-bold';

    &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        z-index: 7;
        background: $title-color;
        bottom: -3px;
        left: 0;
    }
}

/******************

PROJECTS SECTION

*******************/
#homepage-projects{
    margin: 4em 0;
    height: 400px;
}
#homepage-illustrations{
    margin: 4em 0;
    height: 600px;
}
#homepage-lab{
    margin: 4em 0;
    height: 220px;
}

// Projects section
.projects-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
}
.projects-list{
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    ul{
        li{
            padding-bottom: 2em;
        }
    }
}

// Illustrations section
.illustrations-wrapper{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-around;

    .illustrations-thumbnails{
        width: 100%;
        height: 400px;
        background-image: url(../img/chinese-mandala.png);
    }
}
.illustrations-list{
    align-self: stretch;
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

// Projects, illustrations and lab Thumbnails
.projects-thumbnails, .illustrations-thumbnails{
    background-image: url(../img/charlotte-domingos.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 57%;
    height: 60%;
    transition: background 0.5s cubic-bezier(0.55, 0.09, 0.68, 0.53);
    box-shadow: 1px 3px 20px -2px rgb(34, 32, 34);
}

// Lab section
#homepage-lab{
    .lab-content{
        div{
            margin: 1em 0;

            a{
                color: $link-color;
            }
            p{
                font-size: 18px;
                margin: 0.5em 0;
            }
        }
    }
}

// Footer
footer{
    margin: 2em 0;
    font-size: 18px;
    text-align: center;

    p{
        margin: 1em 0;
    }

    span{
        letter-spacing: 2px;
    }

    ul{
        li{
            display: inline-block;
        }
    }
    .seeU{
        font-family: 'nexa-bold';
    }
}


// @media only screen  and (max-device-width : 667px) and (orientation : portrait){
// }
//
//
//     @media only screen  and (max-device-width : 1024px) {
//
//     }
//
//
// }
//
// @media only screen  and (max-device-width : 667px) and (orientation : portrait){
//
// }

/****** SCROLL ICON ******/
.scroll-icon{
    position: absolute;
    bottom: 2%;
    left: calc(50% - 1em);
    display: flex;
    height: 60px;
    flex-flow: column nowrap;
    align-items: center;

    .scroll-icon-text{
        font-size: 0.8em;
    }

    .scroll-icon-bar{
        width: 2px;
        height: 35px;
        background: $title-color;
        will-change: transform;
        animation: scroll-fill 1.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes scroll-fill {
    from {height: 0px;}
    to {height: 50px;}
}

@keyframes scroll-fill {
    from {height: 0px;}
    to {height: 50px;}
}
